<div class="card-body">

    <ngb-alert [type]="type" *ngIf="alertClosed" (close)="alertClosed = false"> {{ mensajeError }}</ngb-alert>

    <div *ngIf="!error && cargo">

        <h5 class="fuente2 text-center mt-2">Perfil del estudiante</h5>
        <hr>

        <div class="row">

            <div class="col-xs-12 col-sm-3">
                <img src="../../../../assets/user-default.jpg" alt="user-default" class="img-fluid rounded-circle">
            </div>

            <div class="col-xs-12 col-sm-9 mt-4">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="datos-info">
                            <i class="fas fa-id-card icon mr-3 text-info"></i> {{ estudiante.identidad }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="datos-info">
                            <i class="fas fa-user icon mr-3 text-info"></i> {{ estudiante.nombre }} {{ estudiante.apellido }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="datos-info">
                            <i class="fas fa-phone-square icon mr-3 text-info"></i> {{ estudiante.telfijo }} / {{ estudiante.telcel }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="datos-info">
                            <i class="fas fa-envelope icon mr-3 text-info"></i>{{ estudiante.email }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="datos-info">
                            <i class="fas fa-calendar-alt icon mr-3 text-info"></i> {{ estudiante.fecregistro | date}}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="datos-info">
                            <i [ngClass]="{'text-success': estudiante.estado, 'text-danger': !estudiante.estado }" class="fas fa-check-square icon mr-3"></i> {{ estudiante.estado && 'Activo' || 'Inactivo' }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>