<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="error">
    {{ mensajeError }} , por seguridad en la aplicación <a href="#" (click)="renovarToken()">Inicia sesión</a> nuevamente.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="container" *ngIf="!error">

    <h4 class="fuente2 text-center mt-3"> Gestión de estudiantes</h4>
    <hr>
    <div class="my-3">
        <ul class="nav">
            <li class="nav-item ">
                <input class="form-control" [(ngModel)]="filterQuery" placeholder="Buscar por Identidad " />
            </li>
        </ul>
    </div>
    <div class="table-responsive">
        <table class="table table-hover" [mfData]="estudiantes | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">

            <thead>
                <tr>
                    <th style="width: 10%">
                        <mfDefaultSorter by="identidad">Identidad</mfDefaultSorter>
                    </th>
                    <th style="width: 20%">
                        <mfDefaultSorter by="nombre">Nombre</mfDefaultSorter>
                    </th>
                    <th style="width: 20%">
                        <mfDefaultSorter by="apellido">Apellido</mfDefaultSorter>
                    </th>
                    <th style="width: 20%">
                        <mfDefaultSorter by="email">Correo</mfDefaultSorter>
                    </th>
                    <th style="width: 10%">
                        <mfDefaultSorter by="telcelular">Tel Celular</mfDefaultSorter>
                    </th>
                    <th style="width: 10%">
                        <mfDefaultSorter by="telfijo">Tel Fijo</mfDefaultSorter>
                    </th>
                    <th style="width: 10%">
                        <mfDefaultSorter by="fecregistro">Fecha Registro</mfDefaultSorter>
                    </th>
                    <th style="width: 10%">
                        <mfDefaultSorter>Estado</mfDefaultSorter>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let estudiante of mf.data">
                    <td [routerLink]="['estudiupdate' , estudiante.codigo]" style="cursor:pointer">{{estudiante.identidad}}</td>
                    <td [routerLink]="['estudiupdate' , estudiante.codigo]" style="cursor:pointer">{{estudiante.nombre}}</td>
                    <td [routerLink]="['estudiupdate' , estudiante.codigo]" style="cursor:pointer">{{estudiante.apellido}}</td>
                    <td [routerLink]="['estudiupdate' , estudiante.codigo]" style="cursor:pointer">{{estudiante.email}}</td>
                    <td [routerLink]="['estudiupdate' , estudiante.codigo]" style="cursor:pointer">{{estudiante.telcel}}</td>
                    <td [routerLink]="['estudiupdate' , estudiante.codigo]" style="cursor:pointer">{{estudiante.telfijo}}</td>
                    <td [routerLink]="['estudiupdate' , estudiante.codigo]" style="cursor:pointer">{{estudiante.fecregistro | date}}</td>
                    <td [ngClass]="{'text-success': estudiante.estado, 'text-danger': !estudiante.estado }"> <strong>{{estudiante.estado && 'Activo' || 'Inactivo' }} </strong></td>
                    <td *ngIf="estudiante.estado">
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Desactivar Estudiante">
                                <i class="fas fa-times icon"></i>
                        </button>
                    </td>
                    <td *ngIf="!estudiante.estado">
                        <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="Activar Estudiante">
                                <i class="fas fa-check-circle icon"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>