<ngb-alert [type]="type" *ngIf="alertClosed" (close)="alertClosed = false"> {{ mensajeError }}</ngb-alert>

<div class="container">

    <h5 class="fuente2 text-center mt-3"> Gestión de estudiantes</h5>
    <hr>

    <div class="my-3">
        <ul class="nav">
            <li class="nav-item">
                <input class="form-control" [(ngModel)]="filterQuery" placeholder="Buscar por Identidad " />
            </li>
        </ul>
    </div>

    <div class="table-responsive">
        <table class="table table-hover" [mfData]="estudiantes | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">

            <thead>
                <tr>
                    <th>
                        <mfDefaultSorter by="identidad">Identidad</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="nombre">Nombre Completo</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="email">Correo</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="telcelular">Tel Celular</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="telfijo">Tel Fijo</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="fecregistro">Fecha Registro</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="estado">Estado</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter>Acción</mfDefaultSorter>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let estudiante of mf.data" [routerLink]="['estudiante' , estudiante.codigo]" style="cursor:pointer">
                    <td>{{estudiante.identidad}}</td>
                    <td>{{estudiante.nombre}} {{estudiante.apellido}}</td>
                    <td>{{estudiante.email}}</td>
                    <td>{{estudiante.telcel}}</td>
                    <td>{{estudiante.telfijo}}</td>
                    <td>{{estudiante.fecregistro | date}}</td>

                    <td [ngClass]="{'text-success': estudiante.estado, 'text-danger': !estudiante.estado }"> <strong>{{estudiante.estado && 'Activo' || 'Inactivo' }} </strong></td>

                    <td *ngIf="estudiante.estado" class="text-center">
                        <i class="fas fa-times icon text-danger" data-toggle="tooltip" data-placement="top" title="Desactivar Estudiante"></i>
                    </td>
                    <td *ngIf="!estudiante.estado" class="text-center">
                        <i class="fas fa-check-circle icon text-success" data-toggle="tooltip" data-placement="top" title="Activar Estudiante"></i>
                    </td>

                </tr>
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="6">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>