<div class="card shadow-sm">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['detaestu']">Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['eventestu']">Eventos Asignados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['update']">Actualizar</a>
            </li>
        </ul>
    </div>
    <!-- redireccionan las vitas: detalle, eventos asignados, actualizar -->
    <router-outlet></router-outlet>
</div>