<div class="card-body">

    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="error">
        <strong>Error!...</strong> {{ mensajeError }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <h5 class="fuente2 text-center my-2">Actualizar estudiante: </h5>

    <div class="container" *ngIf="!error">
        <div class="shadow-sm rounded">

            <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="correcto">
                <strong>Muy Bien!...</strong> {{ mensajeCorrecto }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>



            <form [formGroup]="formActualizarEstudiante" (ngSubmit)="onSubmitActualizarEstu()" *ngIf="cargo" class="mt-3 needs-validation">

                <div class="my-2">
                    <ul class="nav">
                        <li class="nav-item mr-2">
                            <button type="button" class="btn btn-info btn-sm" routerLink=""><i class="fas fa-arrow-left"></i> Volver</button>
                        </li>
                        <li class="nav-item mr-2">
                            <button type="submit" [disabled]="!formActualizarEstudiante.dirty || !formActualizarEstudiante.valid" class="btn btn-success btn-sm"><i class="fas fa-pen mr-2 icon"></i>
                            Actualizar Estudiante</button>
                        </li>
                    </ul>
                </div>
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <!-- Identidad -->
                        <label for="identidad">Identidad</label>
                        <input formControlName="identidad" name="identidad" type="text" class="form-control" placeholder="Identidad" [ngClass]="{ 'is-invalid': formActualizarEstudiante.controls['identidad'].errors?.required || formActualizarEstudiante.controls['identidad'].errors?.minlength || formActualizarEstudiante.controls['identidad'].errors?.pattern }">

                        <div *ngIf="formActualizarEstudiante.controls['identidad'].errors?.required" class="invalid-feedback">
                            Este campo es requerido
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <!-- Nombre -->
                        <label for="identidad">Nombre</label>
                        <input formControlName="nombre" name="nombre" type="text" class="form-control" placeholder="Nombre" [ngClass]="{ 'is-invalid': formActualizarEstudiante.controls['nombre'].errors?.required || formActualizarEstudiante.controls['nombre'].errors?.minlength || formActualizarEstudiante.controls['nombre'].errors?.pattern }">

                        <div *ngIf="formActualizarEstudiante.controls['nombre'].errors?.required" class="invalid-feedback">
                            Este campo es requerido
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <!-- Apellido -->
                        <label for="identidad">Apellido</label>
                        <input formControlName="apellido" name="apellido" type="text" class="form-control" placeholder="Apellido" [ngClass]="{ 'is-invalid': formActualizarEstudiante.controls['apellido'].errors?.required || formActualizarEstudiante.controls['apellido'].errors?.minlength || formActualizarEstudiante.controls['apellido'].errors?.pattern }">

                        <div *ngIf="formActualizarEstudiante.controls['apellido'].errors?.required" class="invalid-feedback">
                            Este campo es requerido
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <!-- Sexo -->
                        <label for="identidad">Sexo</label>
                        <input formControlName="sexo" name="sexo" type="text" class="form-control" placeholder="Sexo" [ngClass]="{ 'is-invalid': formActualizarEstudiante.controls['sexo'].errors?.required || formActualizarEstudiante.controls['sexo'].errors?.minlength || formActualizarEstudiante.controls['sexo'].errors?.pattern }">

                        <div *ngIf="formActualizarEstudiante.controls['sexo'].errors?.required" class="invalid-feedback">
                            Este campo es requerido
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <!-- Tel Fijo -->
                        <label for="identidad">Tel Fijo</label>
                        <input formControlName="telfijo" name="telfijo" type="text" class="form-control" placeholder="Tel Fijo" [ngClass]="{ 'is-invalid': formActualizarEstudiante.controls['telfijo'].errors?.required || formActualizarEstudiante.controls['telfijo'].errors?.minlength || formActualizarEstudiante.controls['telfijo'].errors?.pattern }">

                        <div *ngIf="formActualizarEstudiante.controls['telfijo'].errors?.required" class="invalid-feedback">
                            Este campo es requerido
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <!-- Tel Celular -->
                        <label for="identidad">Tel Celular</label>
                        <input formControlName="telcel" name="telcel" type="text" class="form-control" placeholder="Tel Celular" [ngClass]="{ 'is-invalid': formActualizarEstudiante.controls['telcel'].errors?.required || formActualizarEstudiante.controls['telcel'].errors?.minlength || formActualizarEstudiante.controls['telcel'].errors?.pattern }">

                        <div *ngIf="formActualizarEstudiante.controls['telcel'].errors?.required" class="invalid-feedback">
                            Este campo es requerido
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <!-- Email -->
                        <label for="identidad">Correo Electrónico</label>
                        <input formControlName="email" name="email" type="text" class="form-control" placeholder="Correo Electrónico" [ngClass]="{ 'is-invalid': formActualizarEstudiante.controls['email'].errors?.required || formActualizarEstudiante.controls['email'].errors?.minlength || formActualizarEstudiante.controls['email'].errors?.pattern }">

                        <div *ngIf="formActualizarEstudiante.controls['email'].errors?.required" class="invalid-feedback">
                            Este campo es requerido
                        </div>

                        <div *ngIf="formActualizarEstudiante.controls['email'].errors?.minlength" class="invalid-feedback">
                            Minumo {{ formActualizarEstudiante.controls['email'].errors.minlength.requiredLength }} caracteres
                        </div>

                        <div *ngIf="formActualizarEstudiante.controls['email'].errors?.pattern" class="invalid-feedback">
                            Correo "{{ formActualizarEstudiante.controls['email'].errors.pattern.actualValue }}" no válido
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <!-- Edad -->
                        <label for="edad">Edad</label>
                        <input formControlName="edad" name="edad" type="text" class="form-control" placeholder="Edad">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <!-- Fec registro -->
                        <label for="fecregistro">Fecha Registro</label>
                        <div class="mt-1"> {{estudiante.fecregistro | date}} </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>